.btn {
  width: 300px;
  margin: 4px;
  border-radius: 55px;
  padding: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.btn_type_primary {
  background-color: #ffe44d;
  border: 1px solid #ffe44d;
}

.btn_type_secondary {
  background-color: transparent;
  border: 1px solid #7b8e98;
}
